@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap');

:root {
	background: url('../src/assets/img/bg/hero_img.jpg') center center / cover no-repeat;
	min-height: 100vh;
}

* {
	font-family: 'DM Sans', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li,
dl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}